
<div class="login-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field " appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">E-mail is mandatory.</span>
            <span *ngIf="loginForm.controls.email.errors.pattern">E-mail is invalid.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">Password is mandatory.</span>
          </mat-error>
        </mat-form-field>
        
        <button mat-raised-button class="button" type="submit">Log In</button>
      </form>
    </div>
  </div>