@import '~@angular/material/prebuilt-themes/indigo-pink.css';

mat-toolbar {
    background: #fff !important;
    border-bottom: 1px solid #000;
}
.title  {
    width: 80%;
    display: inline-block;
    text-align: center;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 80px;
}

.login-button {
    width: 10%;
    text-align: right;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.login-button span {
    display: none;
}

.title-sub-menu {
    display: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    mat-toolbar {
        height: 133px !important;
    }
    .title {
        font-size: 64px;
        width: 90%;
    }
    .login-button mat-icon, .menu-button {
        display: none;
    }
    .login-button span {
        display: inline-block;
        font-size: large;
        text-align: center;
        width: 100%;
    }
    .title-sub-menu {
        display: block;
        height: 66px !important;
    }
    
}