/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Regular.otf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Source Serif Pro', Roboto, "Helvetica Neue", sans-serif; }
