.shop-intro {
    font-style: normal;
    font-weight: 300;
    font-size: xxx-large;
    line-height: 90px;
    text-align: right;
}

.sub-title {
    font-weight: normal;
    font-size: 72px;
    line-height: 90px;
    color: #A97527;
    text-align: right;
    padding: 5px;
}
.shop-with-us-img {
    width: 100%;
}

.first-part {
    min-width:90%;
    min-height: 100%;
}

.top-part {
    display: flex;
    flex-direction: column;
    padding: 4%;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .top-part {
        flex-direction: row;
    }
}

.col {
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
    min-width: 324px;
    margin: 4%;
}

.intro-col {
    padding-right: 5%;
    width: 40%;
}

.description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    width: 80%;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.button-wrapper {
    text-align: center;
    margin-top: 9%;
}

.button {
    padding: 10px;
    border: 1px solid #A97527;
    font-size: x-large;
    color: #A97527;
    margin: 5px;
}

.filled-btn {
    color: #fff;
    background-color: #A97527;
}

.arrow-row {
    padding: 20px;
    text-align: center;
    line-height: 5;
    font-size: larger;
}

.arrow-row .icon {
    line-height: 4;
    font-size: 36px;
}

.vendor-question {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    display: block;
    align-items: center;
    text-align: center;
    color: #000;
}