<div class="home-content" cols="1" >
    <div>
        <div class="first-part">
            <div class="top-part">
                <div class="col intro-col ">
                    <div class="shop-intro">
                        Shop with us at 
                    </div>
                    <div class="sub-title">
                        goShop
                    </div>
                    <div class="description">
                        We provide a better shopping experience for Nigerians nationwide.
                    </div>
                    <div class="button-wrapper">
                        <span class="button filled-btn">Create Store </span>
                        <span class="button">Register</span>
                    </div>
                </div>

                <div class="col">
                    <img src="assets/imgs/shopWithUs.png" class="shop-with-us-img" alt="">
                </div>
            </div>   
            
            <div class="arrow-row ">
                <mat-icon  class="icon" aria-hidden="false" aria-label="keyboard arrow down">keyboard_arrow_down</mat-icon>
            </div>

            <div class="vendor-question">
                Are you a Vendor looking for how to sell your products?
            </div> 
        </div>
    </div>

</div>
