<main class="home-content" cols="1" >
        <div class="first-part">
            <div class="top-part">
                <div class="col intro-col ">
                    <div class="shop-intro">
                        Shop with us at 
                    </div>
                    <div class="sub-title">
                        goShop
                    </div>
                    <div class="description">
                        We provide a better shopping experience for Nigerians nationwide.
                    </div>
                    <div class="button-wrapper">
                        <button class="button filled-btn" aria-hidden="false" aria-label="Create Store" routerLink='/' >Create Store </button>
                        <button class="button" aria-hidden="false" aria-label="Register">Register</button>
                    </div>
                </div>

                <div class="col">
                    <img src="assets/imgs/shopWithUs.png" class="shop-with-us-img" alt="">
                </div>
            </div>   
            
            <div class="arrow-row" (click)="scroll('second-part')" >
                <mat-icon  class="icon" aria-hidden="false" aria-label="keyboard arrow down">keyboard_arrow_down</mat-icon>
            </div>

            <div class="vendor-question">
                Are you a Vendor looking for how to sell your products?
            </div> 
        </div>

        <div class="second-part" id="second-part">
            <div class="top-part">

                <div class="col">
                    <img src="assets/imgs/creatStore.png" class="shop-with-us-img" alt="">
                </div>

                <div class="col intro-col ">
                    <div class="description">
                        We have everything covered for you. Simply setup your store with us and start selling! To get started, click the button below.
                    </div>
                    <div class="button-wrapper">
                        <button class="button filled-btn" aria-hidden="false" aria-label="Create Store" >Create Store </button>
                    </div>
                </div>
            </div>   

            <div class="vendor-question">
                Looking for how to get the best from our stores? 
            </div> 
        </div>

        <div class="third-part">
               <div class="top-part">
                <div class="col intro-col ">
                    <div class="description">
                        Shopping has never been easy. We have stores setup for various items you need. Simple register with us and get shopping.
                    </div>
                    <div class="button-wrapper">
                        <button class="button" aria-hidden="false" aria-label="Register">Register</button>
                    </div>
                </div>

                <div class="col">
                    <img src="assets/imgs/onlinePay.png" class="shop-with-us-img" alt="">
                </div>
            </div>   

            <div class="vendor-question">
        
            </div> 
        </div>
</main>
