mat-grid-list {
    width: 40%;
    margin: auto;
}

mat-grid-tile, .mat-menu-item {
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: center;
}

::ng-deep .mat-grid-tile .mat-figure {
    border-right: 1px solid;
    border-left: 1px solid;
}



::ng-deep .mat-grid-tile .mat-figure:focus, ::ng-deep .mat-grid-tile:focus {
    outline-style: none !important;
}

